<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/pokebola.png" />
    <title><%= titulo %></title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="img/pikachu.png" alt="Pikachu" class="pikachu-icon"/>
        <h1>Pokédex</h1>
      </div>

      <nav>
        <a href="https://github.com/danielafarias/Pokedex-Node"
        target="_blank"
          rel="noreferrer">
          <img src="/img/meowth.png" alt="Meowth" />
        </a>
        <a href="/register">
          <img src="/img/ovo.png" alt="ovo" />
        </a>
      </nav>
    </header>

    <main>
      <section class="card">
        <img
          src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
          alt="bulbasaur"
          class="card-image"
        />
        <article class="card-content">
          <div class="card-title">
            <h2>Bulbasaur</h2>
            <h3>Nº001</h3>
          </div>
          <div class="card-description">
            <p>
              There is a plant seed on its back right from the day this Pokémon
              is born. The seed slowly grows larger.
            </p>
          </div>
          <div class="card-type">
            <p>Grass</p>
          </div>
          <div class="card-infos">
            <div>
              <h5>Altura:</h5>
              <p>0.7m</p>
            </div>
            <div>
              <h5>Peso:</h5>
              <p>6.9kg</p>
            </div>
            <div>
              <h5>Categoria:</h5>
              <p>Seed</p>
            </div>
            <div>
              <h5>Habilidade:</h5>
              <p>Overgrow</p>
            </div>
          </div>
        </article>
      </section>

      <section class="card">
        <img
          src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
          alt="bulbasaur"
          class="card-image"
        />
        <article class="card-content">
          <div class="card-title">
            <h2>Bulbasaur</h2>
            <h3>Nº001</h3>
          </div>
          <div class="card-description">
            <p>
              There is a plant seed on its back right from the day this Pokémon
              is born. The seed slowly grows larger.
            </p>
          </div>
          <div class="card-type">
            <p>Grass</p>
          </div>
          <div class="card-infos">
            <div>
              <h5>Altura:</h5>
              <p>0.7m</p>
            </div>
            <div>
              <h5>Peso:</h5>
              <p>6.9kg</p>
            </div>
            <div>
              <h5>Categoria:</h5>
              <p>Seed</p>
            </div>
            <div>
              <h5>Habilidade:</h5>
              <p>Overgrow</p>
            </div>
          </div>
        </article>
      </section>

      <section class="card">
        <img
          src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
          alt="bulbasaur"
          class="card-image"
        />
        <article class="card-content">
          <div class="card-title">
            <h2>Bulbasaur</h2>
            <h3>Nº001</h3>
          </div>
          <div class="card-description">
            <p>
              There is a plant seed on its back right from the day this Pokémon
              is born. The seed slowly grows larger.
            </p>
          </div>
          <div class="card-type">
            <p>Grass</p>
          </div>
          <div class="card-infos">
            <div>
              <h5>Altura:</h5>
              <p>0.7m</p>
            </div>
            <div>
              <h5>Peso:</h5>
              <p>6.9kg</p>
            </div>
            <div>
              <h5>Categoria:</h5>
              <p>Seed</p>
            </div>
            <div>
              <h5>Habilidade:</h5>
              <p>Overgrow</p>
            </div>
          </div>
        </article>
      </section>

      <section class="card">
        <img
          src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
          alt="bulbasaur"
          class="card-image"
        />
        <article class="card-content">
          <div class="card-title">
            <h2>Bulbasaur</h2>
            <h3>Nº001</h3>
          </div>
          <div class="card-description">
            <p>
              There is a plant seed on its back right from the day this Pokémon
              is born. The seed slowly grows larger.
            </p>
          </div>
          <div class="card-type">
            <p>Grass</p>
          </div>
          <div class="card-infos">
            <div>
              <h5>Altura:</h5>
              <p>0.7m</p>
            </div>
            <div>
              <h5>Peso:</h5>
              <p>6.9kg</p>
            </div>
            <div>
              <h5>Categoria:</h5>
              <p>Seed</p>
            </div>
            <div>
              <h5>Habilidade:</h5>
              <p>Overgrow</p>
            </div>
          </div>
        </article>
      </section>
    </main>

    <footer>
      <small>
        &copy; Ícones feitos por
        <a
          href="https://www.flaticon.com/br/autores/roundicons-freebies"
          target="_blank"
          rel="noreferrer"
          title="Roundicons Freebies"
        >
          Roundicons Freebies
        </a>
        from
        <a
          href="https://www.flaticon.com/br/"
          title="Flaticon"
          target="_blank"
          rel="noreferrer"
        >
          www.flaticon.com
        </a>
        | e por
        <a
          href="https://heroicons.com/"
          title="Heroicons"
          target="_blank"
          rel="noreferrer"
        >
          Heroicons
        </a>
        e
        <a
          href="https://tabler-icons.io/"
          title="Tabler icons"
          target="_blank"
          rel="noreferrer"
        >
          Tabler icons
        </a>
      </small>
    </footer>
  </body>
</html>
